/**Pseudo selector**/
:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafo: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --blanco: #FFF;
    --negro: #000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafo);
    line-height: 2rem;
    font-size: 1.6rem;
}

/**Globales**/

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: var(--fuenteHeading);
}

h1 {
    font-size: 4.8rem;
    color: var(--blanco);
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2rem;
}

img {
    max-width: 100%;
}

/**Utilidades**/

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

/**Header**/

.header {
    background-image: url(../img/banner.jpg);
    color: var(--blanco);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.encabezado {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navegador a {
    margin: 1rem;
    color: var(--blanco);
    display: block;
    text-align: center;
    font-size: 1.8rem;
}

.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
    line-height: 5rem;
}

.blog{
    font-weight: 400;
}

/**Nuestro Blog**/

.boton{
    border: none;
    background-color: var(--negro);
    color: var(--blanco);
    text-transform: uppercase;
    padding: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
}

.nuestro__sidebar{
    line-height: 3.5rem;
}

@media (min-width: 768px) {

    .encabezado {
        display: flex;
        flex-direction: row;
    }

    .navegador{
        display: flex;
    }

    .header__texto{
        margin-top: 15rem;
    }

    .nuestro{
        display: grid;
        grid-template-columns: 3fr 2fr;
        column-gap: 3rem;
    }
}

<div class="nuestro__contenido">
            <article class="article">
                <img src="img/blog1.jpg" alt="Imagen de cafe">
                <h3>Tipos de Grano de Café</h3>
                <p>Nulla euismod auctor pulvinar. Suspendisse placerat ultrices elit, auctor lacinia augue. In tristique
                    molestie arcu. In aliquet nisi eu lacinia fermentum. Etiam ut ligula id risus tristique scelerisque.
                    Sed
                    id interdum magna, vestibulum porttitor est.</p>
                <a href="entrada.html" class="boton">Leer entrada</a>
            </article>
        </div>
        <div class="nuestro__contenido">
            <h3>Nuestro Blog</h3>
            <article class="article">
                <img src="img/blog1.jpg" alt="Imagen de cafe">
                <h3>Tipos de Grano de Café</h3>
                <p>Nulla euismod auctor pulvinar. Suspendisse placerat ultrices elit, auctor lacinia augue. In tristique
                    molestie arcu. In aliquet nisi eu lacinia fermentum. Etiam ut ligula id risus tristique scelerisque.
                    Sed
                    id interdum magna, vestibulum porttitor est.</p>
                <a href="entrada.html" class="boton">Leer entrada</a>
            </article>
        </div>
        <h3>Nuestros cursos y talleres</h3>
        <aside class="nuestro__sidebar">
            <h4>Técnicas de extraccion de café</h4>
            <p>Precio: Gratis</p>
            <p>Cupo: 20</p>
            <button class="boton">Más Información</button>
            <h4>4 Recetas de Café para principiantes</h4>
            <p>Precio: Gratis</p>
            <p>Cupo: 20</p>
            <button class="boton">Más Información</button>
        </aside>
        <aside class="nuestro__sidebar">
            <h3>Nuestros cursos y talleres</h3>
            <h4>Técnicas de extraccion de café</h4>
            <p>Precio: Gratis</p>
            <p>Cupo: 20</p>
            <button class="boton">Más Información</button>
            <h4>4 Recetas de Café para principiantes</h4>
            <p>Precio: Gratis</p>
            <p>Cupo: 20</p>
            <button class="boton">Más Información</button>
        </aside>